<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.propster">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/propster_icon_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/propster_icon_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Propster">

        <service
            android:name=".content.FirebaseNotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/notification_bell_ic" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/primary_blue" />

        <activity android:name=".login.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login.LoginActivity"/>
        <activity android:name=".login.RegisterActivity"/>
        <activity android:name=".login.ForgotPasswordActivity"/>
        <activity android:name=".login.FirstTimeUserProfileActivity"/>
        <activity android:name=".login.FirstTimeRoleSelectionActivity"/>

        <activity android:name=".content.ContentActivity"/>
        <activity android:name=".content.NotificationActivity"/>
        <activity android:name=".content.UserProfileActivity"/>
        <activity android:name=".content.UserProfileEditActivity"/>

        <activity android:name=".landlord.LandlordPropertyListActivity"/>
        <activity android:name=".landlord.LandlordAddPropertyActivity"/>
        <activity android:name=".landlord.LandlordPropertyDetailActivity"/>
        <activity android:name=".landlord.LandlordPropertyEditActivity"/>

        <activity android:name=".landlord.LandlordPropertyTenantListActivity"/>
        <activity android:name=".landlord.LandlordPropertyAddTenantActivity"/>
        <activity android:name=".landlord.LandlordPropertyTenantDetailActivity"/>
        <activity android:name=".landlord.LandlordPropertyTenantEditActivity"/>

        <activity android:name=".tenant.TenantPropertyListActivity"/>
        <activity android:name=".tenant.TenantPropertyDetailActivity"/>

        <activity android:name=".allRoles.PropertyExpensesListActivity"/>
        <activity android:name=".allRoles.AddPropertyExpensesActivity"/>
        <activity android:name=".allRoles.PropertyExpensesDetailActivity"/>
        <activity android:name=".allRoles.PropertyExpensesEditActivity"/>

        <activity android:name=".allRoles.PropertyTenureContractsListActivity"/>
        <activity android:name=".allRoles.AddPropertyTenureContractsActivity"/>
        <activity android:name=".allRoles.PropertyTenureContractsDetailActivity"/>
        <activity android:name=".allRoles.PropertyTenureContractsEditActivity"/>

        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="android:screenOrientation"
            android:stateNotNeeded="true"/>
    </application>



</manifest>